body{

    background-size:cover;
    background-repeat:no-repeat;
    overflow-y: scroll;
    /* image-resolution: 100%; */

}
.titlekozhikode
{
    margin-left: 200px;
    /* margin-top: 50px; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: rgb(65, 127, 35);
    letter-spacing: 5px;
    /* position: relative; */

}
.headtag4
{
    border: none;
    margin-left:700px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.headtag4 a{
    
    padding-right: 100px;
    text-decoration: none;
    color: rgb(24, 132, 48);
    font-size:large;
    position: relative;
}
.headtag4 a:hover
{
    color: rgb(49, 209, 164);
}