.body{
    background-image:cover ;

}
.titlekannur
{
    margin-left: 150px;
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: rgb(242, 245, 238);
    letter-spacing: 5px;
    /* position: relative; */

}
.headtag4
{
    border: none;
    margin-left:80px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.headtag4 a{
    
    padding-right: 100px;
    text-decoration: none;
    color: rgb(243, 239, 233);
    font-size:large;
    position: relative;
}
.headtag4 a:hover
{
    color: rgb(0, 0, 0);
}